.card-label__container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 75%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);;
  padding: 5px 10px;
  width: fit-content;
}

.card-label__container > p {
  color: #fff;
  font-weight: 300;
  font-size: .7rem;
}
