<div class="nav-bar__container">
  <div class="nav-bar__logo">
    <img src="../../../assets/ps-logo.png"  height="40" alt="logo" />
  </div>
  <div class="nav-bar__menu">
    <ul class="nav-bar__items">
      <li><a routerLink="https://preis.tech/" routerLinkActive="active">Portfólio</a></li>
      <li><a routerLink="/about" routerLinkActive="active">LinkedIn</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Github</a></li>
      <li><a routerLink="https://preis.tech/contact/" routerLinkActive="active">Contato</a></li>
    </ul>
  </div>

</div>
